.primary-category-selected {
	float: right;
	font-size: normal;
	font-weight: bold;
}

.primary-category-unselected {
	float: right;
	cursor:pointer;
	color:blue;
	text-decoration:underline;
	font-size: x-small;
	font-weight: normal;
}
